{% extends "base.html" %} {% block body %}
<div class="container">
  <div class="row">
    <div class="col-9">
      <h1>Session id: {{ session['id'] }}</h1>
    </div>
    <div class="col-3">
      <a href="/reset" class="btn btn-primary">Restart</a>
      <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=oFgn10akD06gqkv5WkoQ5z6fwTBqk1NEjDs1bydB55RUNlpQVEc2RzRKRFZIM0lLMERMWTNIM0g0TS4u" target="_blank" rel="noopener noreferrer" class="btn btn-success">Form</a>
    </div>
  </div>
</div>

<div class="container chat px-5">
  <div class="chat-history">
    <ul class="m-b-0" id="msgList">
      <li class="clearfix">
        <div class="row">
          <div class="col-1">
            <img
              src="{{ url_for('static', filename='imgs/bot.png')}}"
              class="chatbot-icon"
              alt="bot"
            />
          </div>
          <div class="col-4">
            <div class="message bot-message">
              Hello, welcome to the MAIR G30 restaurant system? You can ask for
              restaurants by area, price range or food type. You can also add
              additional requirements among: Romantic; Touristic; Children;
              Assigned seats. How may I help you?
            </div>
          </div>
          <div class="col-7"></div>
        </div>
      </li>
    </ul>
  </div>
  <div class="chat-message">
    <div class="row">
      <div class="col-11">
        <div class="input-group mb-0">
          <input
            type="text"
            class="form-control"
            placeholder="Enter text here..."
            id="msgInput"
          />
        </div>
      </div>
      <div class="col-1">
        <button class="btn btn-primary btn-circle" id="sendButton">
          <i class="fa fa-send"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    const msg_input = $("#msgInput");
    const msg_button = $("#sendButton");
    const msg_history = $("#msgList");

    msg_button.on("click", function () {
      const msg = msg_input.val();

      if (msg) {
        const msgHTMLClient = `
            <li class="clearfix">
              <div class="row">
                <div class="col-7"></div>
                <div class="col-4">
                  <div class="message user-message float-right">${msg}</div>
                </div>
                <div class="col-1 d-lg-none d-xl-block">
                    <img
                      src="{{ url_for('static', filename='imgs/user.png')}}"
                      class="user-icon"
                      alt="user"
                    />
              </div>
            </li>`;

        msg_history.append(msgHTMLClient);

        msg_history.animate(
          { scrollTop: msg_history.prop("scrollHeight") },
          500
        );

        msg_input.val("");

        $.ajax({
          async: false,
          url: "/message",
          type: "POST",
          data: JSON.stringify({ msg: msg }),
          contentType: "application/json",
          success: function (data) {
            console.log(data);
            const msgHTMLBot = `
              <li class="clearfix">
                <div class="row">
                  <div class="col-1">
                      <img
                        src="{{ url_for('static', filename='imgs/bot.png')}}"
                        class="chatbot-icon"
                        alt="bot"
                      />
                  </div>
                  <div class="col-4">
                    <div class="message bot-message">${data["message"]}</div>
                  </div>
                  <div class="col-7"></div>
                </div>
              </li>`;
            msg_history.append(msgHTMLBot);
            msg_history.animate(
              { scrollTop: msg_history.prop("scrollHeight") },
              500
            );
          },
        });
      }
    });

    msg_input.on("keypress", function (e) {
      if (e.which == 13) {
        msg_button.click();
      }
    });
  });
</script>
{% endblock %}
