{% extends "base.html" %} {% block body %}

<div class="container mt-5 text-center">
  <h1>Welcome to restaurant bot!</h1>

  <p>
    This bot has been created by the group G30 for the course "Methods in AI
    Research", at Utrecht University.
  </p>

  <p>
    Boodschap participant 
  </p>
  <p>
    Thank you for participating in this research. You are going to use our restaurant chatbot, which will approximately take 10 -15 minutes. 
  </p>
  <p>
    You will start with 1 test trial to get used to the system. After that, there are 10 more tests. You will get preference for the area, price range, and food type by the system. The goal is to get a restaurant recommendation that fits all three of your preferences. You will have to get a suitable recommendation as fast as possible. If you get a wrong recommendation, you have to continue until it recommends a correct one. If at any point you need to reset the conversation, you can type 'start over'. After each correct recommendation, you will have to compile a small satisfaction questionnaire.
  </p>

  <p>Insert your name and start using the bot! Thanks for your time</p>

  <form action="{{ url_for('index') }}" method="post">
    <div class="row align-items-center my-2">
      <div class="col-4 text-end">
        <label for="nameInput" class="form-label">Name</label>
      </div>
      <div class="col-4">
        <input type="text" class="form-control" id="nameInput" name="name" />
      </div>
    </div>
    <div class="row align-items-center my-2">
      <div class="col-4 text-end">
        <label for="emailInput" class="form-label">Email address</label>
      </div>
      <div class="col-4">
        <input type="email" class="form-control" id="emailInput" name="email" />
      </div>
    </div>
    <div class="row align-items-right my-2">
      <div class="col-7 text-end">
        <label for="useMLCheck">Use Neural Network Classification</label>
      </div>
      <div class="col-1">
        <input type="checkbox" id="useMLCheck" name="useML" checked />
      </div>
    </div>
    <div class="row align-items-right my-2">
      <div class="col-7 text-end">
        <label for="useCLCheck">Messages in all CAPS</label>
      </div>
      <div class="col-1">
        <input type="checkbox" id="useCLCheck" name="useCL"  />
      </div>
    </div>
    <div class="row align-items-right my-2">
      <div class="col-7 text-end">
        <label for="useACCheck">Enable Auto Correction</label>
      </div>
      <div class="col-1">
        <input type="checkbox" id="useACCheck" name="useAC" checked />
      </div>
    </div>
    <div class="row align-items-center my-2">
      <div class="col-4"></div>
      <div class="col-4 text-end">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</div>

{% endblock %}
