body {
  background-color: #f4f7f6;
  margin-top: 20px;
}

.chat {
  background: #fff;
  transition: 0.5s;
  border: 0;
  margin-bottom: 30px;
  border-radius: 0.55rem;
  position: relative;
  width: 100%;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
  border-left: 1px solid #eaeaea;
}

.chat .chat-history {
  padding: 20px;
  border-bottom: 2px solid #fff;
}

.chat .chat-history ul {
  padding: 20px;
  height: 50vh;
  overflow: hidden;
  overflow-y: scroll;
}

.chat .chat-history ul li {
  list-style: none;
  margin-bottom: 30px;

}

.chat .chat-history ul li:last-child {
  margin-bottom: 0px;
}

.chat .chat-history .message-data {
  margin-bottom: 15px;
}

.chat .chat-history .message-data img {
  border-radius: 40px;
  width: 40px;
}

.chat .chat-history .message-data-time {
  color: #434651;
  padding-left: 6px;
}

.chat .chat-history .message {
  color: #444;
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 22px;
  display: inline-block;
  position: relative;
}

.chat .chat-history .message:after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -10px;
}

.chat .chat-history .bot-message {
  background: #b4cde3;
}

.chat .chat-history .user-message {
  background: #b9d6d0;
  text-align: right;
}

.chat .chat-message {
  padding: 20px;
}

.float-right {
  float: right;
}

.btn-circle {
  border-radius: 60px;
}

.chatbot-icon {
  float: right;
  border-radius: 100px;
  height: 6vh;
  width: 6vh;
}

.user-icon {
  border-radius: 100px;
  height: 6vh;
  width: 6vh;
}

@media only screen and (max-width: 767px) {
  .chat {
    margin: 0;
  }

  .chat .chat-history {
    height: 300px;
    overflow-x: auto;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .chat .chat-history {
    height: 600px;
    overflow-x: auto;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .chat .chat-history {
    height: calc(100vh - 350px);
    overflow-x: auto;
  }
}
